@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  
}



body {
  

  background-color: #333;
  color: #ffffff;
}
.dark-mode{
  height: 100%;
  background-color: #fafafa;
  color: #000000;
}



.pico{
  text-align: center;
}

.container {
  display: flex;
  margin: 1px;
  max-width: 768px;
  
   
}

.box {
  text-align: center; 
  padding: 0.9px;
  align-items: center;

}

 img {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 3px;
  box-shadow: 2px 2px 2px #333;
 
 
} 

@media screen and (max-width:  668px) {
 img{
    width: 150px;
    height: 150px;
    padding: 1.7px;
  box-shadow: 2px 2px 2px #333;
  } 
  h4{
    font-size: 15px;
  }
  h5{
    font-size: 15px;
  }
  .box {
    text-align: center; 
    margin: 2.1px;
    padding: 0.5px;
    align-items: center;
  
  }

  .container {
    display: flex;
    margin: 1px;
    max-width: 540px;
     
  }
  

  
}

@media screen and (min-width:  868px) {
  
  img{
    width: 150px;
    height: 150px;
  }
  

  h4{
    font-size: 18px;
  }
  h5{
    font-size: 18px;
  }
  
} 

footer{
  
  position: fixed;
  bottom: 0;
  width: 100%;
  
  padding: 20px;
  text-align: center;
}

.picoo{
  text-align: initial;
}

