*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
 
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.pico{
  text-align: center;
}

.container {
  display: flex;
   margin: 2px;
   
}

.box {
  text-align: center; 
  padding: 0.5px;
  align-items: center;

}

img {
  width: 150px;
  height: 150px;
  padding: 3px;
  box-shadow: 2px 2px 2px #333;
 
 
}